/*Enskripsyon css*/
    body {
      background: #000000;
      font-family: Arial, sans-serif;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .form-box {
      background: #ffffff;
      padding: 50px 20px;
      border-radius: 30px;
      border-color : #3498db;
      box-shadow: 0 0 50px rgba(100,100,100,100);
      width: 100%;
      max-width: 340px;
    }
    h2 {
      text-align: center;
      color: #4e54c8;
      margin-bottom: 18px;
    }
    input, button {
      max-width: 90%;
      width: 100%;
      margin-bottom: 13px;
      padding: 10px 9px;
      border: 1px solid #c5c8e7;
      border-radius: 7px;
      font-size: 1rem;
    }
    input:focus {
      border-color: #4e54c8;
      outline: none;
    }
    button {
      background: #4e54c8;
      color: #fff;
      border: none;
      font-weight: bold;
      cursor: pointer;
      transition: background 0.2s;
    }
    button:hover {
      background: #23244a;
    }
    @media (max-width: 900px) {
      .form-box { padding: 14px 2vw; }
    }
  